.Homescreen{

  background:
    /*add image here*/
    linear-gradient(hsl(var(--screen_hsl_base_hue) var(--background_sat_outer_color) var(--background_light_outer_color)) 15%, hsl(var(--screen_hsl_base_hue) var(--background_sat_inner_color) var(--background_light_inner_color)) 50%, hsl(var(--screen_hsl_base_hue) var(--background_sat_outer_color) var(--background_light_outer_color)) 85%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.HomePetSlotContainer{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 3rem;

}

.HomeNoPets {

  padding: 5rem 10rem;
  border-radius: 1rem;

  border-top: 0.1rem solid rgb(61, 0, 125);
  border-right: 0.1rem solid rgb(61, 0, 125);
  border-left: 0.4rem solid rgb(61, 0, 125);
  border-bottom: 0.4rem solid rgb(61, 0, 125);
  background-color: rgb(136, 142, 255);
  box-shadow: 0 0 1rem 0.1rem rgb(200, 203, 255);
  
}

.HomePetSlot{

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
  padding: 4rem 3rem;
  border-radius: 3rem;

}


.HomePetSlotPetName {



}


.HomePetSlotAlertContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

}

.HomePetSlotAlertGood {

  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  border: 0.2rem solid rgb(0, 200, 0);
  background-color: rgb(25, 255, 0);
  box-shadow: 0 0 0.5rem 0.05rem rgb(255, 255, 255);

}


.HomePetSlotAlertOkay {

  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  border: 0.2rem solid rgb(200, 200, 0);
  background-color: rgb(255, 225, 0);
  box-shadow: 0 0 0.5rem 0.05rem rgb(255, 255, 255);

}


.HomePetSlotAlertBad {

  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  border: 0.2rem solid rgb(200, 100, 0);
  background-color: rgb(255, 125, 0);
  box-shadow: 0 0 0.5rem 0.05rem rgb(255, 255, 255);

}


.HomePetSlotAlertVeryBad {

  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  border: 0.2rem solid rgb(200, 0, 0);
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0 0.5rem 0.05rem rgb(255, 255, 255);

}

.HomePetSlotAlertDead {

  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  border: 0.2rem solid rgb(100, 100, 100);
  background-color: rgb(150, 150, 150);

}