.Home_ComponentContainer-Template--EmptySlot{

  min-height: 30.3rem;
  justify-content: center;

  img {

    width: 80%;

    filter: 
      drop-shadow(0 0 3px rgb(255, 255, 255))
      drop-shadow(0 0 6px rgb(255, 255, 255))
      drop-shadow(0 0 9px  rgb(255, 255, 255));

  }

}

.Home_ComponentContainer-Structure--PetAlert {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 0.1rem;

}


.Home_ComponentContainer-Template--PetAlertBattery{

  width: 3rem;

  filter: 
    drop-shadow(0 0 3px rgb(255, 255, 255))
    drop-shadow(0 0 6px rgb(255, 255, 255))
    drop-shadow(0 0 9px  rgb(255, 255, 255));

}
