.Home_BackgroundScreen_Color{

  background:
    /*add image here*/
    linear-gradient(hsl(var(--background_screen_base_color_hue) var(--background_color_saturation) var(--background_outer_color_light)) 15%, hsl(var(--background_screen_base_color_hue) var(--background_color_saturation) var(--background_inner_color_light)) 50%, hsl(var(--background_screen_base_color_hue) var(--background_color_saturation) var(--background_outer_color_light)) 85%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.Home_PetSlotAlertContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

}

.Home_PetSlotAlertGood {

  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  border: 0.2rem solid rgb(0, 200, 0);
  background-color: rgb(25, 255, 0);
  box-shadow: 0 0 0.5rem 0.05rem rgb(255, 255, 255);

}


.Home_PetSlotAlertOkay {

  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  border: 0.2rem solid rgb(200, 200, 0);
  background-color: rgb(255, 225, 0);
  box-shadow: 0 0 0.5rem 0.05rem rgb(255, 255, 255);

}


.Home_PetSlotAlertBad {

  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  border: 0.2rem solid rgb(200, 100, 0);
  background-color: rgb(255, 125, 0);
  box-shadow: 0 0 0.5rem 0.05rem rgb(255, 255, 255);

}


.Home_PetSlotAlertVeryBad {

  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  border: 0.2rem solid rgb(200, 0, 0);
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0 0.5rem 0.05rem rgb(255, 255, 255);

}

.Home_PetSlotAlertDead {

  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  border: 0.2rem solid rgb(100, 100, 100);
  background-color: rgb(150, 150, 150);

}