.Inventory_ComponentContainer-Structure--Item{

  width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 6rem;
  gap: 3rem;
  border-radius: 75px;

}


.Inventory_ComponentContainer-Structure--ItemDescription{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 3rem;

}


.Inventory_ComponentContainer-Structure--ItemDescriptionImage{

  width: 50%;
  height: auto;

  padding: 3rem;
  border-radius: 25px;

  box-shadow: 0 0 16px 8px rgb(255, 255, 255);

  img {

    width: 100%;
    height: auto;

    filter: 
      drop-shadow(0 0 4px rgb(255, 255, 255))
      drop-shadow(0 0 8px rgb(255, 255, 255))
      drop-shadow(0 0 12px  rgb(255, 255, 255));

  }

}


.Inventory_ComponentContainer-Structure--ItemDescriptionContent{

  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 2rem;

}

.Inventory_ComponentContainer-Structure--ItemDescriptionContentField{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  
}


.Inventory_ComponentImage-Structure--ItemLockContainer{

  width: 100%;
  height: auto;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 25%);

  padding: 2rem;
  gap: 2rem;
  border-radius: 25px;

  box-shadow: 0 0 16px 8px rgb(255, 255, 255);

}


.Inventory_ComponentImage-Structure--ItemLock{

  width: 100%;
  height: auto;

  filter: 
    drop-shadow(0 0 2px rgb(255, 255, 255))
    drop-shadow(0 0 4px rgb(255, 255, 255))
    drop-shadow(0 0 6px  rgb(255, 255, 255));

}



.Inventory_ComponentContainer-Structure--PossiblePetOwners{

  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
  
  gap: 3rem;

}


.Inventory_ComponentContainer-Structure--PossiblePetOwner{

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 4rem;


}

.Inventory_ComponentContainer-Structure--PossiblePetOwnerName{

  width: 50%;
  height: auto;

}

.Inventory_ComponentButton-Structure--PossiblePetOwner{

  width: 25%;
  height: auto;

  padding: 2rem;

}



.Inventory_ComponentContainer-Structure--ItemNoPetOwners{

  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 20%);

  padding: 2rem;
  border-radius: 25px;

  box-shadow: 0 0 16px 8px rgb(255, 255, 255);

}


.Inventory_ComponentImage-Structure--ItemNoPetOwners{

  width: 100%;
  height: auto;

  filter: 
    drop-shadow(0 0 2px rgb(255, 255, 255))
    drop-shadow(0 0 4px rgb(255, 255, 255))
    drop-shadow(0 0 6px  rgb(255, 255, 255));

}