.Inventory_ComponentContainer-Structure--Item{

  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 4rem;
  gap: 3rem;
  border-radius: 50px;

  img {

    filter: 
      drop-shadow(0 0 2px rgb(255, 255, 255))
      drop-shadow(0 0 4px rgb(255, 255, 255))
      drop-shadow(0 0 6px  rgb(255, 255, 255));

  }

}


.Inventory_ComponentContainer-Structure--ItemContent{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  img {

    height: auto;
    width: 50%;

  }

}

.Inventory_ComponentContainer-Structure--ItemDetails{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 2rem;

}


.Inventory_ComponentContainer-Structure--ItemPetSelection{

  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 2rem;

}


.Inventory_ComponentImage-Structure--ItemLock{

  height: 15rem;

}