.Inventory_ComponentContainer-Structure--Item{

  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 4rem;
  gap: 3rem;
  border-radius: 50px;

}


.Inventory_ComponentContainer-Structure--ItemContent{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 2rem;

}


.Inventory_ComponentContainer-Structure--ItemContentImage{

  height: auto;
  width: 50%;

  padding: 3rem;
  border-radius: 25px;

  img {

    width: 100%;
    height: auto;

    filter: 
      drop-shadow(0 0 2px rgb(255, 255, 255))
      drop-shadow(0 0 4px rgb(255, 255, 255))
      drop-shadow(0 0 6px  rgb(255, 255, 255));

  }

}


.Inventory_ComponentContainer-Structure--ItemContentDetails{

  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 2rem;

}



.Inventory_ComponentImage-Structure--ItemLock{

  height: 12rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  border-radius: 50px;

  img {

    height: 100%; 
    width: auto;

    filter: 
      drop-shadow(0 0 2px rgb(255, 255, 255))
      drop-shadow(0 0 4px rgb(255, 255, 255))
      drop-shadow(0 0 6px  rgb(255, 255, 255));

  }

}