.MusicVolume_ComponentContainer-Structure--Widget{
    
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 3rem;

}


.MusicVolume_ComponentContainer-Structure--WidgetImage{

    height: auto;
    width: auto;
    padding: 1rem;
    border-radius: 25px;

    box-shadow: 0 0 16px 3px rgb(255, 255, 255);

    img {

        height: 8rem;
        width: auto;

        filter: 
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px  rgb(255, 255, 255));

    }

}




.MusicVolume_ComponentContainer-Structure--Slider{

    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 1rem;
    border-radius: 25px;
    gap: 2rem;

    input {

        -webkit-appearance: none;

        width: 35rem;           
        height: 15px;       
        border-radius: 9999px;

        background-color: rgb(255, 255, 255, 0.75);
        border: 1px solid rgba(255, 255, 255);
        box-shadow: 0 0 16px 3px rgb(255, 255, 255);

    }

    input::-webkit-slider-thumb{

        -webkit-appearance: none;

        width: 5rem;          
        height: 5rem;

        background-image: url("../../../images/VolumeMusicNote.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        filter: 
            drop-shadow(0 0 1px rgb(255, 255, 255))
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 3px  rgb(255, 255, 255));

    }

}