.Notification_ComponentContainer-Structure--EntryContent{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  gap: 1rem;

}


.Notification_ComponentContainer-Structure--EntryContentField {

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 2rem;

}
