.Notifications_ComponentContainer-Structure--Cards{

    max-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: fixed;
    right: 4rem;
    top: 4rem;
    z-index: 6;

    gap: 1rem;
    padding: 2rem;

}


.Notifications_ComponentContainer-Structure--Card{

    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: nowrap;

    gap: 2rem;

}


.Notifications_ComponentContainer-Structure--CardContent{

    width: 35rem;
    display: flex;
    flex-direction: column;

    padding: 2rem;
    border-radius: 25px;

}


