.Main_ComponentContainer-Template--WindowScreen{

    img {

        filter: 
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px rgb(255, 255, 255));

    }

}


.Main_ComponentContainer-Color--WindowScreen--dog{ 

    background: url("./../../../../images/Dog/Background.png");

}

.Main_ComponentContainer-Color--WindowScreen--cat{

    background: url("./../../../../images/Cat/Background.png");

}

.Main_ComponentContainer-Color--WindowScreen--fish{

    background: linear-gradient(to bottom, #59bfff, #000872);

}



.Main_ComponentContainer-Structure--WindowScreenPetStats{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0rem 3rem;
    gap: 1rem;
    
}

.Main_ComponentHeading-Template--WindowScreenPetStatsName{

    color:rgb(0,0,0);
    filter: 
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px rgb(255, 255, 255));

}

.Main_ComponentContainer-Structure--WindowScreenPetStatsHealth{

    height: 5.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 0.5rem;

}


.Main_ComponentImage-Template--WindowScreenPetStatsHealthHeart {

    height: 2.5rem;

}
 

.Main_ComponentContainer-Structure--WindowScreenGrid {

    display: grid;
    grid-template-columns: repeat(20, auto);

}


.Main_ComponentContainer-Structure--WindowScreenGridCellNonpet {

    height: 18rem;
    width: 2rem;

}


.Main_ComponentContainer-Structure--WindowScreenGridCellPet {

    height: 18rem;
    width: 8rem;

    img {

        width: 100%;

    }

}


.Main_ComponentContainer-Structure--WindowScreenNongrid{

    height: 18rem;
    width: 46rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.Main_ComponentContainer-Structure--WindowScreenNongridPet{

    height: 5rem;
    width: 10rem;

    img {

        width: 100%;

    }

}

.Main_ComponentImage-Structure--WindowScreenNongridTomb{

    height: 15rem;
    width: 15rem;

}