.Main_PetWindowBorder {

  padding: 5rem;
  border-radius: 6rem;

}


.Main_FullWindowContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1rem;
    border-radius: 3rem;
    box-shadow: 0 0 1rem 0.5rem rgb(255, 255, 255);

}


.Main_FullWindowContainer-dog{ 

    background: linear-gradient(to bottom, #a159ff, #ffcf4b);

}

.Main_FullWindowContainer-cat{

    background: linear-gradient(to bottom, #a159ff, #ffcf4b);

}

.Main_FullWindowContainer-fish{

    background: linear-gradient(to bottom, #59bfff, #000872);

}



.Main_PetStatsContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0rem 1rem;
    
}

.Main_PetName{

    color:rgb(0,0,0);
    filter: 
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px rgb(255, 255, 255));

}

.Main_HealthContainer{

    width: 40rem;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 0.5rem;

}


.Main_HealthHeart {

    height: 2.5rem;
    width: 2.5rem;

    filter: 
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px rgb(255, 255, 255));

}


.Main_PetWindowGrid {

    display: grid;
    grid-template-columns: repeat(20, auto);

}


.Main_PetWindowGridCell {

    height: 20rem;
    width: 2rem;

}


.Main_PetWindowGridPetCell {

    height: 20rem;
    width: 8rem;
    position: relative;

    img {

        width: 100%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);

        filter: 
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px rgb(255, 255, 255));

    }

}



.Main_PetWindowGridEmpty{

    height: 20rem;
    width: 46rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
