.Main_ComponentContainer-Template--WindowScreen{

    img {

        filter: 
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px rgb(255, 255, 255));

    }

}


.Main_ComponentContainer-Color--WindowScreen--dog{ 

    background: 
        linear-gradient(to bottom, rgba(255, 0, 255, 0.5), rgba(61, 0, 131, 0.5)),
        url("./../../../../images/Dog/RoomBackground.gif");


}

.Main_ComponentContainer-Color--WindowScreen--cat{

    background: 
        linear-gradient(to bottom, rgba(255, 0, 255, 0.5), rgba(61, 0, 131, 0.5)),
        url("./../../../../images/Cat/RoomBackground.gif");

}

.Main_ComponentContainer-Color--WindowScreen--fish{

    background: 
        linear-gradient(to bottom, rgba(255, 0, 255, 0.5), rgba(61, 0, 131, 0.5)),
        url("./../../../../images/Fish/RoomBackground.gif");

}



.Main_ComponentContainer-Structure--WindowScreenPetStats{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;

    padding: 0rem 3rem;
    gap: 0.5rem;

}

.Main_ComponentHeading-Template--WindowScreenPetStatsName{

    color:rgb(0,0,0);
    filter: 
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px rgb(255, 255, 255));

}

.Main_ComponentContainer-Structure--WindowScreenPetStatsHealth{

    height: 6.5rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;

    gap: 0.5rem;

}


.Main_ComponentImage-Template--WindowScreenPetStatsHealthHeart {

    height: 3rem;

}
 

.Main_ComponentContainer-Structure--WindowScreenGrid {

    display: grid;
    grid-template-columns: repeat(20, auto);

}


.Main_ComponentContainer-Structure--WindowScreenGridCellNonpet {

    height: 16rem;
    width: 2rem;

}


.Main_ComponentContainer-Structure--WindowScreenGridCellPet {

    height: 16rem;
    width: 8rem;

    z-index: 4;

    img {

        width: 100%;

    }

}


.Main_ComponentContainer-Structure--WindowScreenNongrid{

    height: 16rem;
    width: 46rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.Main_ComponentContainer-Structure--WindowScreenNongridPet{

    height: 5rem;
    width: 10rem;
    z-index: 4;

    img {

        width: 100%;

    }

}


.Main_ComponentImage-Structure--WindowScreenCeilingDecoration{

    width: 12rem;
    height: auto;
    position: absolute;
    top: 0%;
    transform: translateX(-50%);
    z-index: 3;

}



.Main_ComponentImage-Structure--WindowScreenCeilingDecoration--dog{

    left: 50%;

}



.Main_ComponentImage-Structure--WindowScreenCeilingDecoration--cat{

    left: 20%;

}


.Main_ComponentImage-Structure--WindowScreenCeilingDecoration--fish{

    left: 50%;

}



.Main_ComponentImage-Structure--WindowScreenWallDecoration{

    width: 10rem;
    height: auto;
    position: absolute;
    
}

.Main_ComponentImage-Structure--WindowScreenWallDecoration--dog{

    bottom: 60%;
    left: 80%;
    transform: translateX(-50%) translateY(50%);
    
}


.Main_ComponentImage-Structure--WindowScreenWallDecoration--cat{

    bottom: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    
}


.Main_ComponentImage-Structure--WindowScreenWallDecoration--fish{

    bottom: 55%;
    left: 80%;
    transform: translateX(-50%) translateY(50%);
    
}






.Main_ComponentImage-Structure--WindowScreenRoomDecoration{

    width: auto;
    position: absolute;
    transform: translateX(-50%) translateY(50%);
    z-index: 2;
    
}

.Main_ComponentImage-Structure--WindowScreenRoomDecoration--dog{

    height: 15rem;
    bottom: 50%;
    left: 20%;
    
}


.Main_ComponentImage-Structure--WindowScreenRoomDecoration--cat{

    height: 15rem;
    bottom: 50%;
    left: 85%;
    
}


.Main_ComponentImage-Structure--WindowScreenRoomDecoration--fish{

    height: 25rem;
    bottom: 45%;
    left: 30%;
    transform: translateX(-50%) translateY(50%);
    
}






.Main_ComponentImage-Structure--WindowScreenFloorDecoration{

    position: absolute;
    transform: translateX(-50%);
    z-index: 1;

}


.Main_ComponentImage-Structure--WindowScreenFloorDecoration--dog{

    width: 15rem;
    height: 10rem;
    bottom: 0%;
    left: 50%;

}


.Main_ComponentImage-Structure--WindowScreenFloorDecoration--cat{

    width: 15rem;
    height: 10rem;
    bottom: 0%;
    left: 20%;

}


.Main_ComponentImage-Structure--WindowScreenFloorDecoration--fish{

    width: 8rem;
    height: auto;
    bottom: 5%;
    left: 85%;

}
