.Warning_image {

    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1rem;

}



.Warning_ComponentImage-Template--PetThoughtPet{

    width: 30%;
    height: auto;

    filter:
        drop-shadow(0 0 10px rgb(255, 255, 255))
        drop-shadow(0 0 5px rgb(255, 255, 255));


}

.Warning_ComponentContainer-Structure--PetThoughtDesiredOption {

    height: auto;
    width: 60%;

    img {

        filter:
            drop-shadow(0 0 10px rgb(255, 255, 255))
            drop-shadow(0 0 5px rgb(255, 255, 255));

    }

}

.Warning_ComponentImage-Template--PetThoughtDesiredOptionBubble{

    height: auto;
    width: 100%;
  
}

.Warning_ComponentImage-Template--PetThoughtDesiredOptionObject{

    height: auto;
    width: 40%;

}