.Warning_image {

    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;

}



.Warning_ComponentImage-Template--PetThoughtPet{

    width: 40%;
    height: auto;

    padding: 2rem;
    border-radius: 25px;

    box-shadow: 0 0 16px 4px rgb(255, 255, 255);

    img {
    
        height: auto;
        width: 100%;

        filter:
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px rgb(255, 255, 255));

    }

}

.Warning_ComponentContainer-Structure--PetThoughtDesiredOption {

    height: auto;
    width: 50%;

    img {

        filter:
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px rgb(255, 255, 255));

    }

}

.Warning_ComponentImage-Template--PetThoughtDesiredOptionBubble{

    height: auto;
    width: 100%;
  
}

.Warning_ComponentImage-Template--PetThoughtDesiredOptionObject{

    height: auto;
    width: 40%;

}