.HomePetSelectorNameInputContainer{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 1rem 2rem;
    gap: 2rem;
    border-radius: 1rem;

    border-left: 0.25rem solid black; 
    border-bottom: 0.25rem solid black; 
    border-top: 0.1rem solid black; 
    border-right: 0.1rem solid black;
    background: linear-gradient(#bf77ff, rgb(27, 0, 55));
    box-shadow: 0 0 1rem 0.25rem rgb(204, 121, 255);

}

.HomePetSelectorNameInput{

    padding: 1rem;

    border-left: 0.25rem solid black; 
    border-bottom: 0.25rem solid black; 
    border-top: 0.1rem solid black; 
    border-right: 0.1rem solid black;
    background-color: rgb(202, 221, 255); 
    
    animation: Input-glow 3s infinite;

}


.HomePetSelectorPetWindow{

    height: 20rem;
    width: 43rem;
    background-color: rgb(255, 255, 255);

    img {

        width: 12rem;

    }

}
