.Clean_ComponentContainer-Template--WindowScreen{

    background:
        url("../../../../../images/CleanBackground.png");

    img {

        height: 10rem;
        width: 10rem;

        filter: 
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px  rgb(255, 255, 255));

    }

}