.Clean_ComponentContainer-Template--Overlay{

    height: 40%;
    width: auto;

    img {

        height: 100%;
        width: auto;

        filter: 
            drop-shadow(0 0 10px rgb(255, 255, 255))
            drop-shadow(0 0 5px rgb(255, 255, 255));

    }  

}
