.Medicine_ComponentContainer-Template--WindowScreen{

    background-image: url("../../../../../images/MedicineBackground.png");

    img {

        height: 12rem;
        width: 12rem;

        filter: 
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 8px rgb(255, 255, 255))
            drop-shadow(0 0 12px  rgb(255, 255, 255));

    }

}