.StationsInProgressWindow {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 8rem 10rem;
    border-radius: 5rem;

}

.StationsInProgressWindow-Feed {

    background: radial-gradient(circle,
        rgb(55, 0, 253) 0%,
        rgba(120, 83, 255, 0.535) 60%,
        rgba(180, 160, 255, 0.103) 100%
    );
    box-shadow: 0 0 2rem 0.75rem  rgb(181, 160, 255);

}

.StationsInProgressWindow-Clean {

    background: radial-gradient(circle,
        rgb(55, 0, 253) 0%,
        rgba(120, 83, 255, 0.534) 60%,
        rgba(180, 160, 255, 0.148) 100%
    );
    box-shadow: 0 0 2rem 0.75rem  rgb(181, 160, 255);

}

.StationsInProgressWindow-Medicine {

    background: radial-gradient(circle,
        rgb(55, 0, 253) 0%,
        rgba(120, 83, 255, 0.534) 60%,
        rgba(180, 160, 255, 0.148) 100%
    );
    box-shadow: 0 0 2rem 0.75rem  rgb(181, 160, 255);

}

.StationsInProgressPet {

    height: 10rem;
    width: 10rem;

}


.StationsInProgressPet-Feed {

    filter: 
        drop-shadow(0 0 5px rgb(207, 194, 255))
        drop-shadow(0 0 15px rgba(178, 156, 255))
        drop-shadow(0 0 25px rgb(152, 123, 255));

}

.StationsInProgressPet-Clean {

    filter: 
        drop-shadow(0 0 5px rgb(207, 194, 255))
        drop-shadow(0 0 15px rgba(178, 156, 255))
        drop-shadow(0 0 25px rgb(152, 123, 255));

}


.StationsInProgressPet-Medicine {

    filter: 
        drop-shadow(0 0 5px rgb(207, 194, 255))
        drop-shadow(0 0 15px rgba(178, 156, 255))
        drop-shadow(0 0 25px rgb(152, 123, 255));

}


