.SchedulingChartActivityContainer{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;

}


.SchedulingChartProgressBar {

  display: flex;
  flex-direction: row;

  box-shadow: 0 0 0.5rem 0.1rem rgb(255, 238, 169);

}

.SchedulingChartProgressCellLeft {

  height: 0.75rem;
  width: 0.3rem;
  background-color: rgba(137, 105, 0, 0.539);

}


.SchedulingChartProgressCellHalfway {

  height: 0.75rem;
  width: 0.3rem;
  background-color: rgb(255, 0, 0);

}

.SchedulingChartProgressCellDone {

  height: 0.75rem;
  width: 0.3rem;
  background-color: rgb(55, 255, 0);

}

.SchedulingChartProgressCellCancelled {

  height: 0.75rem;
  width: 0.3rem;
  background-color: rgba(108, 108, 108, 0.439);

}