.Pawformer_ComponentContainer-Template--Screen{

    background-image: url("../../../../../images/Dog/Play/Games/Pawformer/Background.png");

}



.Pawformer_ComponentContainer-Template--Arrow {

    position: absolute;
    height: 25%;
    width: auto;
    left: 50%;

    filter: 
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px  rgb(255, 255, 255));

}


.Pawformer_ComponentContainer-Template--Arrow--Top {

    top: 0%;
    transform: translateY(50%) translateX(-50%);

}


.Pawformer_ComponentContainer-Template--Arrow--Bottom{

    bottom: 0%;
    transform: translateY(-50%) translateX(-50%) scaleY(-1);

}




.Pawformer_ComponentContainer-Structure--Grid{

    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(9, 6rem);

}

.Pawformer_ComponentContainer-Template--GridCell{

    align-self: center;
    width: 100%;
    height: auto;

    filter: 
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px  rgb(255, 255, 255));

}


.Pawformer_ComponentContainer-Template--GridCell:hover,
.Pawformer_ComponentContainer-Template--GridCell:active{

    filter: 
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 8px rgb(255, 255, 255))
        drop-shadow(0 0 12px  rgb(255, 255, 255));

}

.Pawformer_ComponentImage-Template--CorrectMove {

    height: 85%;
    width: auto;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);

    filter: 
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 8px rgb(255, 255, 255))
        drop-shadow(0 0 12px  rgb(255, 255, 255));


}