.Pawformer_ComponentContainer-Template--Screen{

    gap: 3rem;

    background-image: url("../../../../../images/Dog/Play/Games/Pawformer/Background.png");

}


.Pawformer_ComponentContainer-Template--HitBox{

    position: absolute;
    height: 10rem;
    width: 10rem;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);

    border-radius: 25px;

    box-shadow: 0 0 16px 3px rgb(255, 255, 255);

}




.Pawformer_ComponentContainer-Template--Arrow {

    position: absolute;
    width: 6rem;
    height: auto;
    left: 50%;

    filter: 
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px  rgb(255, 255, 255));

}


.Pawformer_ComponentContainer-Template--Arrow--Top {

    top: 0%;
    transform: translateY(50%) translateX(-50%);

}


.Pawformer_ComponentContainer-Template--Arrow--Bottom{

    bottom: 0%;
    transform: translateY(-50%) translateX(-50%) scaleY(-1);

}




.Pawformer_ComponentContainer-Structure--Grid{

    height: 100%;
    display: grid;
    grid-template-rows: repeat(1, 100%);
    grid-template-columns: repeat(9, 5rem);

    padding: 1rem;
    
}

.Pawformer_ComponentContainer-Structure--GridCell{

    align-self: center;

    filter: 
        drop-shadow(0 0 1px rgb(255, 255, 255))
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 3px  rgb(255, 255, 255));

}

.Pawformer_ComponentContainer-Structure--GridCell--Nonactive{

    width: 50%;

}


.Pawformer_ComponentContainer-Structure--GridCell--Active{

    width: 80%;

}

.correctMove {

    position: absolute;
    top: 0;
    left: 0;

    padding: 3rem;
    border-top-left-radius: inherit;
    border-bottom-right-radius: 2rem;

    box-shadow: 0 0 16px 3px rgb(255, 255, 255);

    img {

        height: 4rem;
        width: auto;

        filter: 
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px  rgb(255, 255, 255));

    }

}