.Options_ComponentContainer-Structure{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;
    
}


.Options_ComponentContainer-Structure--PetThought {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    padding: 1rem;
  
}


.Options_ComponentImage-Template--PetThoughtPet{

    height: 10rem;
    width: 10rem;

    filter:
        drop-shadow(0 0 5px rgb(215, 175, 255))
        drop-shadow(0 0 10px rgba(215, 150, 255))
        drop-shadow(0 0 15px rgb(215, 125, 255));

}

.Options_ComponentContainer-Structure--PetThoughtDesiredOption {

    height: 10rem;
    width: 10rem;

}

.Options_ComponentImage-Template--PetThoughtDesiredOptionBubble{

    height: 100%;
    width: 100%;
    
    filter:
        drop-shadow(0 0 5px rgb(215, 175, 255))
        drop-shadow(0 0 10px rgba(215, 150, 255))
        drop-shadow(0 0 15px rgb(215, 125, 255));

}

.Options_ComponentImage-Template--PetThoughtDesiredOptionObject{

    width: 80%;
    height: 80%;

    filter:
        drop-shadow(0 0 2px rgb(215, 175, 255))
        drop-shadow(0 0 4px rgba(215, 150, 255))
        drop-shadow(0 0 6px rgb(215, 125, 255));

}