.Options_ComponentContainer-Structure--PetThought {

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;

    gap: 4rem;
  
}


.Options_ComponentImage-Template--PetThoughtPet{

    width: 10rem;
    height: 10rem;

    filter:
        drop-shadow(0 0 3px rgb(255, 255, 255))
        drop-shadow(0 0 6px rgb(255, 255, 255));

}

.Options_ComponentContainer-Structure--PetThoughtDesiredOption {

    height: 15rem;
    width: 15rem;

}

.Options_ComponentImage-Template--PetThoughtDesiredOptionBubble{

    height: 100%;
    width: auto;
    
    filter:
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 8px rgb(255, 255, 255))
        drop-shadow(0 0 12px rgb(255, 255, 255));

}

.Options_ComponentImage-Template--PetThoughtDesiredOptionObject{

    width: 50%;
    height: 50%;

    filter:
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px rgb(255, 255, 255));

}