.ProgressBarContainer {

  display: flex;
  flex-direction: row;

  box-shadow: 0 0 0.5rem 0.1rem rgb(255, 238, 169);

}

.ProgressBarCellDone {

  height: 0.75rem;
  width: 0.3rem;
  background-color: rgb(255, 221, 0);

}

.ProgressBarCellLeft {

  height: 0.75rem;
  width: 0.3rem;
  background-color: rgba(137, 105, 0, 0.539);

}