.ProgressBarContainer {

  display: flex;
  flex-direction: row;

  box-shadow: 0 0 0.5rem 0.2rem rgb(208, 255, 196);

}

.ProgressBarCellDone {

  height: 0.75rem;
  width: 0.3rem;
  background-color: rgb(55, 255, 0);

}

.ProgressBarCellLeft {

  height: 0.75rem;
  width: 0.3rem;
  background-color: rgba(0, 137, 11, 0.4);

}