.Deletion_PetOptionContainer{

  display: flex;
  flex-direction: row;
  flex-wrap: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4rem;
  gap: 3rem;
  padding: 4rem 5rem;

}

.Deletion_PetOptionSlot {

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

}