.RearrangePets_ComponentContainer-Template--Slot{

    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3rem;
    padding: 3rem;
    border-radius: 50px;

}

.RearrangePets_ComponentContainer-Structure--SlotImage{

    width: 70%;

    padding: 2rem;
    border-radius: 25px;

    img {

        width: 100%;
        height: auto;

        filter: 
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px  rgb(255, 255, 255));

    }

}



.RearrangePets_ComponentContainer-Structure--SlotButtonEntries {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;

}