.RearrangePets_ComponentContainer-Structure--SlotButtonRow {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 2rem;

}


.RearrangePets_ComponentContainer-Structure--SlotButton{

  width: 40%;
  height: auto;
  
  padding: 1rem 2rem;

}

