.potionBar{

    height: auto;
    width: auto;

    padding: 2rem 4rem;
    border-radius: 25px;

}



.potionImageContainer{

    display: grid;

    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, 8rem);

    padding: 1rem 2rem;
    gap: 1rem;
    border-radius: 25px;

    box-shadow: 0 0 16px 4px rgb(255, 255, 255);

}

.potionImage{

    height: 100%;
    width: auto;

    filter: 
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px  rgb(255, 255, 255));

}


.RevivePets_ComponentImage-Structure--NoPetImageContainer{

  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;

  gap: 3rem;

}


.imageBox{

    height: auto;
    width: auto;

    padding: 2rem;
    border-radius: 25px;

}


.RevivePets_ComponentImage-Structure--NoPetImage{

    width: auto;
    height: 12rem;

    padding: 2rem;
    border-radius: 25px;

    box-shadow: 0 0 16px 8px rgb(255, 255, 255);

    img {

        width: auto;
        height: 100%;

        filter: 
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px  rgb(255, 255, 255));

    }

}
