.potionBar{

    height: auto;
    width: 50rem;

    padding: 3rem 6rem;
    border-radius: 25px;

}


.potionImageContainer{

    width: 100%;
    height: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(1, 1fr);

    padding: 1rem 5rem;
    gap: 1rem;
    border-radius: 25px;

    box-shadow: 0 0 16px 4px rgb(255, 255, 255);

}

.potionImage{

    height: auto;
    width: 100%;

    filter: 
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px  rgb(255, 255, 255));

}


.imageBox{

    height: 20rem;
    width: 20rem;

    padding: 2rem;
    border-radius: 25px;

}


.RevivePets_ComponentImage-Structure--NoPetImage{

    width: 100%;
    height: 100%;

    padding: 3rem;
    border-radius: 25px;

    box-shadow: 0 0 16px 8px rgb(255, 255, 255);

    img {

        width: 100%;
        height: 100%;

        filter: 
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px  rgb(255, 255, 255));

    }

}
