.CatGameTwo_ComponentContainer-Structure--Grid{

    display: grid;
    grid-template-rows: repeat(5, 5rem);
    grid-template-columns: repeat(8, 5rem);

}


.CatGameTwo_ComponentContainer-Template--GridCellNontarget{

    img {

        height: 100%;
        width: auto;

    }

}


.CatGameTwo_ComponentContainer-Template--GridCellTarget{

    background-color: rgb(255, 0, 0);

    img {

        height: 100%;
        width: auto;

    }

}
