.MouseHunt_ComponentContainer-Structure--Screen{

    background-image: url("../../../../../images/Cat/Play/Games/MouseHunt/Background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.MouseHunt_ComponentContainer-Structure--Grid{

    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-rows: repeat(2, 35%);
    grid-template-columns: repeat(4, auto);
    gap: 1rem;

}

.MouseHunt_ComponentContainer-Template--GridCell{

    height: 100%;
    width: auto;
    aspect-ratio: 1/1;

    border-radius: 50%;
    padding: 2rem;

    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 16px 3px rgb(255, 255, 255);

    img {

        height: 100%;
        width: auto;

        filter:
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px rgb(255, 255, 255));

    }

}

.MouseHunt_ComponentContainer-Template--GridCell:hover,
.MouseHunt_ComponentContainer-Template--GridCell.active {

    box-shadow: 0 0 16px 6px rgb(255, 255, 255);

    img {

        filter:
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 8px rgb(255, 255, 255))
            drop-shadow(0 0 23px rgb(255, 255, 255));


    }

}