.Activity_ComponentContainer-Structure--Category{

  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

}

.Activity_ComponentContainer-Structure--CategoryField{

  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 3rem;

}