.Activity_ComponentContainer-Structure--Category{

  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

}

.Activity_ComponentContainer-Structure--CategoryField{

  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 3rem;

}


.Activity_ComponentContainer-Color--TimebarCellHalfway {

  background-color: rgb(0, 0, 0);

}

.Activity_ComponentContainer-Color--TimebarCellDead {

  background-color: rgba(255, 255, 255, 0.25);

}