.Activity_ComponentContainer-Structure--Category{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

}

.Activity_ComponentContainer-Structure--CategoryField{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 2rem;

}


.Activity_ComponentContainer-Color--TimebarCellHalfway {

  background-color: rgb(0, 0, 0);

}

.MiscellaneousElements_ComponentContainer-Structure--FloatingFlagProgressionbarCell--Done {

  background-color: rgb(255, 255, 255);

}

.MiscellaneousElements_ComponentContainer-Structure--FloatingFlagProgressionbarCell--Remaining {

  background-color: rgb(255, 255, 255, 0.25);

}

.Activity_ComponentContainer-Color--TimebarCellDead {

  background-color: rgba(255, 255, 255, 0.25);

}