.Adoption_SelectionContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;

}

.testing{

    padding: 3rem;
    border-radius: 3rem;

}