.Certificate{

    border-radius: 2rem;
    
    box-shadow: 0 0 1rem 0.5rem rgb(255, 255, 255);

}

.heading{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    hr{

        width: 100%;

        box-shadow: 0 0 1rem 0.1rem rgb(255, 255, 255);

    }

}

.stamp{

    height: 10rem;

    padding: 1rem;
    border-radius: 1rem;

    filter: 
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 4px rgb(255, 255, 255))
        drop-shadow(0 0 6px rgb(255, 255, 255));

}