.Records_ComponentContainer-Structure--Content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

}


.Records_ComponentContainer-Structure--DocumentField{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 2rem;

}