@import url('https://fonts.googleapis.com/css?family=Silkscreen');



:root {

  /*Color light and saturation percentages:*/

  --UIStapleElements_-Saturation--GlobalColor: 100%;


  
  --UIStapleElements_Background-Transparency--FloatingFlagColorBackground: 75%;
  --UIStapleElements_Background-Light--GlobalColorBackground: 50%;
  --UIStapleElements_BackgroundOverlay-Light--GlobalColorBackground: 25%;


  --UIStapleElements_Component-Light--GlobalColorShadow: 100%;
  --UIStapleElements_Component-Light--GlobalColorBorder: 25%;

  --UIStapleElements_ComponentButton-Light-ColorBackgroundTop: 50%;
  --UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom: 100%;
  --UIStapleElements_ComponentButtonPill-Light--GlobalColorFont: 25%;
  --UIStapleElements_ComponentButtonRectangle-Light--GlobalColorFont: 25%;
  
  --UIStapleElements_ComponentFrame-Light--GlobalColorFont: 25%;
  --UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner: 75%;
  --UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter: 50%;



  /*Color hues:*/

  --UIStapleElements_BackgroundBase-Hue--GlobalColorBase: 280;
  --UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase: 250;



  /*Color layer:*/

  --UIStapleElements_ComponentFrame-Layer--GlobalHue: 10;
  --UIStapleElements_ComponentButton-Layer--GlobalHue: 5;

}


html {

  font-size: 100%;

}

body{

  user-select: none;

  /*For fallback:*/
  background-color: rgb(100, 0, 125);
  
}


* {

  -webkit-user-drag: none;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;

}


h1,
h2,
a,
button,
input{

  font-family: 'Silkscreen', monospace;

}



h1 {

  font-size: calc(1rem*2.20);

}

h2 {

  font-size: calc(1rem*1.80);

}


a,
button,
input,
p {

  font-size: calc(1rem*1.40);

}

a,
button {

  text-align: center;

}


a:link,
a:visited,
a:hover,
a:active {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;

}


p {

  font-family: monospace;

}




/* Scrollbars */

::-webkit-scrollbar {

  width: 10px; 
  height: auto;

}
 
::-webkit-scrollbar-track {

  background: rgb(255, 255, 255, 0.25);  

}

::-webkit-scrollbar-thumb {

  border-radius: 9999px;

  background-color: rgb(255, 255, 255, 0.5);
  border: 1px solid rgb(255, 255, 255); 

}





/*Reusable multitags:*/

/*Backgrounds:*/
 

.UIStapleElements_Background-Template--Screen {

  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6rem;

  background:
    url("./images/ForScreen.png"),
    url("./images/BackgroundOverlay.gif"),
    url("./images/BackgroundOverlay.gif"),
    url("./images/AppBackground.png"),
    linear-gradient(hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Background-Light--GlobalColorBackground)), hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Background-Light--GlobalColorBackground)));

  background-size: cover, 25rem auto, 25rem auto, auto, cover;
  background-position: center, left 0% bottom 15%, right 0% bottom 15%, center, center;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat, no-repeat;

}


.UIStapleElements_Background-Structure--FloatingFlag {

  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 7;
  inset: 0;

  gap: 2rem;

}


.UIStapleElements_Background-Color--FloatingFlag--Global {

  background: hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_BackgroundOverlay-Light--GlobalColorBackground) / var(--UIStapleElements_Background-Transparency--FloatingFlagColorBackground));

}





/*Components:*/

.UIStapleElements_ComponentButtonPill-Structure--GlobalClick {

  width: auto;
  height: auto;

  padding: 2rem 4rem;
  border-radius: 9999px;
  border-style: solid;

  border-left-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 1px;
  border-top-width: 1px;

  transition: transform 0.3s ease;

}

.UIStapleElements_ComponentButtonPill-Structure--GlobalClick:hover,
.UIStapleElements_ComponentButtonPill-Structure--GlobalClick.active {

  transform: scale(1.10);

}

.UIStapleElements_ComponentButtonPill-Structure--GlobalNonclick {

  width: auto;
  height: auto;

  padding: 2rem 4rem;
  border-radius: 9999px;
  border-style: solid;

  border-left-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 1px;
  border-top-width: 1px;

}



.UIStapleElements_ComponentButtonRectangle-Structure--Global {

  width: auto;
  height: auto;

  padding: 2rem;
  border-radius: 25px;
  border-style: solid;

  border-left-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 1px;
  border-top-width: 1px;

  transition: transform 0.3s ease;

}


.UIStapleElements_ComponentButtonRectangle-Structure--Global:hover,
.UIStapleElements_ComponentButtonRectangle-Structure--Global.active {

  transform: scale(1.10);

}


.UIStapleElements_ComponentButtonCircle-Structure--Global {

  aspect-ratio: 1/1;

  border-radius: 50%;
  border-style: solid;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 1px;
  border-top-width: 1px;

  transition: transform 0.3s ease;

  img {

    width: 100%;
    height: auto;

  }

}

.UIStapleElements_ComponentButtonCircle-Structure--Global:hover,
.UIStapleElements_ComponentButtonCircle-Structure--Global.active{

  transform: scale(1.10);

}


.UIStapleElements_ComponentFrameColored-Structure--Global{

  border-left-width: 10px;
  border-bottom-width: 10px;
  border-right-width: 2px;
  border-top-width: 2px;
  border-style: solid;

}




.UIStapleElements_ComponentButtonRectangle-Color--Global--Screen{

  color: hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(  --UIStapleElements_ComponentButtonRectangle-Light--GlobalColorFont));
  border-color: hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: linear-gradient(hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light-ColorBackgroundTop)) 0%, hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom)) 100%);
  box-shadow: 0 0 16px 3px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

}


.UIStapleElements_ComponentButtonRectangle-Color--Global--Screen:hover,
.UIStapleElements_ComponentButtonRectangle-Color--Global--Screen.active {
  
  box-shadow: 0 0 16px 9px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

}

.UIStapleElements_ComponentButtonCircle-Color--Global--Screen {

  border-color: hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: linear-gradient(to bottom, hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light-ColorBackgroundTop)) 0%, hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom)) 100%);
  box-shadow: 0 0 16px 3px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

  img{

    filter: 
      drop-shadow(0 0 2px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)))
      drop-shadow(0 0 4px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)))
      drop-shadow(0 0 6px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)));

  }

}

.UIStapleElements_ComponentButtonCircle-Color--Global--Screen:hover,
.UIStapleElements_ComponentButtonCircle-Color--Global--Screen.active {

  box-shadow: 0 0 16px 9px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

}

.UIStapleElements_ComponentButtonCircle-Color--Global--ScreenSelected {

  border-color: hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: linear-gradient(to bottom, hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light-ColorBackgroundTop)) 0%, hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom)) 100%);
  box-shadow: 0 0 16px 9px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

  img{

    filter: 
      drop-shadow(0 0 2px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)))
      drop-shadow(0 0 4px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)))
      drop-shadow(0 0 6px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)));

  }

}


.UIStapleElements_ComponentButtonPill-Color--GlobalClick--Screen {

  color: hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButtonPill-Light--GlobalColorFont));
  border-color: hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: linear-gradient(hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light-ColorBackgroundTop)) 0%, hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom)) 100%);
  box-shadow: 0 0 16px 3px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

}

.UIStapleElements_ComponentButtonPill-Color--GlobalClick--Screen:hover,
.UIStapleElements_ComponentButtonPill-Color--GlobalClick--Screen.active {

  box-shadow: 0 0 16px 9px hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

}

.UIStapleElements_ComponentButtonPill-Color--GlobalNonclick--Screen {

  color: hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButtonPill-Light--GlobalColorFont));
  border-color: hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: linear-gradient(hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light-ColorBackgroundTop)) 0%, hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom)) 100%);

}


.UIStapleElements_ComponentFrameColored-Color--Global--Screen {

  color: hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorFont));
  border-color: hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: radial-gradient(circle, hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)), hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)));

  background: conic-gradient(hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 0deg,
                            hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 45deg,
                            hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 90deg,
                            hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 135deg,
                            hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 180deg,
                            hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 225deg, 
                            hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 270deg,
                            hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 315deg,
                            hsl(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 360deg);
}


.UIStapleElements_ComponentFrameTransparent-Color--Global--Screen {

  color: hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorFont));
  border-color: hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: radial-gradient(circle, hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)), hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)));

   background: conic-gradient(hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 0deg,
                            hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 45deg,
                            hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 90deg,
                            hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 135deg,
                            hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 180deg,
                            hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 225deg, 
                            hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 270deg,
                            hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 315deg,
                            hsl(calc(var(--UIStapleElements_BackgroundBase-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 360deg);
}


.UIStapleElements_ComponentButtonPill-Color--GlobalClick--FloatingFlag {

  color: hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButtonPill-Light--GlobalColorFont));
  border-color: hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: linear-gradient(hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light-ColorBackgroundTop)) 0%, hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom)) 100%);
  box-shadow: 0 0 16px 3px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

}

.UIStapleElements_ComponentButtonPill-Color--GlobalClick--FloatingFlag:hover,
.UIStapleElements_ComponentButtonPill-Color--GlobalClick--FloatingFlag.active {

  box-shadow: 0 0 16px 9px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

}

.UIStapleElements_ComponentButtonPill-Color--GlobalNonclick--FloatingFlag {

  color: hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButtonPill-Light--GlobalColorFont));
  border-color: hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: linear-gradient(hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light-ColorBackgroundTop)) 0%, hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom)) 100%);

}



.UIStapleElements_ComponentButtonRectangle-Color--Global--FloatingFlag{

  color: hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButtonRectangle-Light--GlobalColorFont));
  border-color: hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: linear-gradient(hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light-ColorBackgroundTop)) 0%, hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom)) 100%);
  box-shadow: 0 0 16px 3px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

}


.UIStapleElements_ComponentButtonRectangle-Color--Global--FloatingFlag:hover,
.UIStapleElements_ComponentButtonRectangle-Color--Global--FloatingFlag.active {
  
  box-shadow: 0 0 16px 9px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

}


.UIStapleElements_ComponentButtonCircle-Color--Global--FloatingFlag {

  border-color: hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: linear-gradient(to bottom, hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light-ColorBackgroundTop)) 0%, hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom)) 100%);
  box-shadow: 0 0 16px 3px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

  img{

    filter: 
      drop-shadow(0 0 2px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)))
      drop-shadow(0 0 4px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)))
      drop-shadow(0 0 6px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)));

  }

}

.UIStapleElements_ComponentButtonCircle-Color--Global--FloatingFlag:hover,
.UIStapleElements_ComponentButtonCircle-Color--Global--FloatingFlag.active {

  box-shadow: 0 0 16px 9px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

}

.UIStapleElements_ComponentButtonCircle-Color--Global--FloatingFlagSelected {

  border-color: hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: linear-gradient(to bottom, hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light-ColorBackgroundTop)) 0%, hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundBottom)) 100%);
  box-shadow: 0 0 16px 9px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow));

  img{

    filter: 
      drop-shadow(0 0 2px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)))
      drop-shadow(0 0 4px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)))
      drop-shadow(0 0 6px hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue) + var(--UIStapleElements_ComponentButton-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorShadow)));

  }

}

.UIStapleElements_ComponentFrameColored-Color--Global--FloatingFlag {

  color: hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorFont));
  border-color: hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: radial-gradient(circle, hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)), hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)));

  background: conic-gradient(hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 0deg,
                            hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 45deg,
                            hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 90deg,
                            hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 135deg,
                            hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 180deg,
                            hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 225deg, 
                            hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 270deg,
                            hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 315deg,
                            hsl(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 360deg);
}

.UIStapleElements_ComponentFrameTransparent-Color--Global--FloatingFlag {

  color: hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorFont));
  border-color: hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_Component-Light--GlobalColorBorder));
  background: radial-gradient(circle, hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)), hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)));

    background: conic-gradient(hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 0deg,
                            hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 45deg,
                            hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 90deg,
                            hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 135deg,
                            hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 180deg,
                            hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 225deg, 
                            hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 270deg,
                            hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundOuter)) 315deg,
                            hsl(calc(var(--UIStapleElements_BackgroundOverlay-Hue--GlobalColorBase) + var(--UIStapleElements_ComponentFrame-Layer--GlobalHue)) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundInner)) 360deg);
}






/*Other cross-component tags:*/

.MiscellaneousElements_ComponentContainer-Structure--GlobalRow--GlobalSelectionSlotRow {

  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 3rem;

}

.MiscellaneousElements_ComponentContainer-Structure--ScreenMenuButtonRow {

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
    
  gap: 3rem;
  padding: 3rem;

}

.MiscellaneousElements_ComponentContainer-Structure--GlobalButtonRow {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;

  gap: 2rem;

}





.MiscellaneousElements_ComponentContainer-Structure--GlobalSelectionSlot {

  width: 22rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 3rem;
  padding: 3rem;
  border-radius: 50px;

}


.MiscellaneousElements_ComponentContainer-Structure--GlobalSlotButton{

  width: 95%;
  height: auto;

  padding: 3rem;

}



.MiscellaneousElements_ComponentContainer-Structure--GlobalWindowFrame {

  width: auto;
  height: auto;
  padding: 4rem;
  border-radius: 75px;

}


.MiscellaneousElements_ComponentContainer-Template--GlobalWindowScreen{

  height: 30rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 50px;

  box-shadow: 0 0 16px 9px rgb(255, 255, 255);

}


.MiscellaneousElements_ComponentContainer-Structure--GlobalImageOverlay {

  position: relative;

}

.MiscellaneousElements_ComponentImage-Structure--GlobalImageOverlayLayer {
  
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -75%);

}





.MiscellaneousElements_ComponentContainer-Structure--FloatingFlagDocument{

  width: 55rem;
  height: auto;

  padding: 6rem;
  border-radius: 75px;

}


/*Here*/
.MiscellaneousElements_ComponentContainer-Template--GlobalWrittenContent{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

}



.MiscellaneousElements_ComponentText-Template--GlobalDescriptor{

  width: 100%;
  height: auto;
  text-align: center;

  border-radius: 9999px;

  color: rgb(255, 255, 255);

}

.MiscellaneousElements_ComponentText-Template--GlobalDescriptor--GlobalOverview{

  padding: 1rem 5rem;

  box-shadow: 0 0 16px 9px rgba(255, 255, 255);

}

.MiscellaneousElements_ComponentText-Template--GlobalDescriptor--GlobalEntry{

  padding: 1rem;

  box-shadow: 0 0 16px 6px rgb(255, 255, 255);

}





.MiscellaneousElements_ComponentContainer-Structure--FloatingFlag {

  max-width: 90%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  gap: 3rem;
  padding: 3rem 6rem;

}


.MiscellaneousElements_ComponentContainer-Template--FloatingFlagProgressionbar {

  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(100, 1fr);

  box-shadow: 0 0 16px 3px rgb(255, 255, 255);

}

.MiscellaneousElements_ComponentContainer-Structure--FloatingFlagProgressionbarCell {

  height: 10px;
  width: 5px;

}


.MiscellaneousElements_ComponentContainer-Structure--FloatingFlagProgressionbarCell--Done {

  background-color: rgb(255, 255, 255);

}

.MiscellaneousElements_ComponentContainer-Structure--FloatingFlagProgressionbarCell--Remaining {

  background-color: rgb(255, 255, 255, 0.25);

}



.MiscellaneousElements_ComponentContainer-Structure--FloatingFlagInstructionsFlagBackground{

  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inset: 0rem;
  z-index: 9;

  gap: 3rem;
  border-radius: inherit;

  background-color: rgb(0, 0, 0, 0.75);

}





.MiscellaneousElements_ComponentContainer-Template--FloatingFlagStationWindowScreenFail{

  background-image: url("./images/ActivityFailBackground.png");

}



.MiscellaneousElements_ComponentContainer-Template--FloatingFlagStationWindowScreenSuccess{

  background-image: url("./images/ActivitySuccessBackground.png");

}


.MiscellaneousElements_ComponentContainer-Structure--Screen {

  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3rem;

}




.MiscellaneousElements_ComponentContainer-Structure--ScreenToggle{
  
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 6;

  gap: 3rem;

}
