@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Silkscreen');



/* old background: linear-gradient(rgb(75, 0, 125) 15%, rgb(150, 0, 150) 50%, rgb(75, 0, 125) 85%);*/

:root {

  --root_font_size: 1rem;



  --button_left_bottom_border_width: 0.35rem;
  --button_right_top_border_width: 0.1rem;
  --button_placeholder_background_color_transparency: 0.75;
  --button_placeholder_border_font_color_light_ratio: 1.25;



  --container_left_bottom_border_width: 0.45rem;
  --container_right_top_border_width: 0.15rem;



  --linear_grad_padding: 1.5rem 2rem;
  --linear_grad_border_radius: 3rem;

  --linear_grad_sat_font_color: 100%; 
  --linear_grad_light_font_color: 25%;

  --linear_grad_sat_top_color: 100%;
  --linear_grad_light_top_color: 50%;

  --linear_grad_sat_bottom_color: 100%;
  --linear_grad_light_bottom_color: 100%;

  --linear_grad_sat_border_color: 100%;
  --linear_grad_light_border_color: 25%;

  --linear_grad_sat_shadow_color: 100%;
  --linear_grad_light_shadow_color: 100%;



  --radial_grad_sat_outer_color: 100%;
  --radial_grad_light_outer_color: 50%;

  --radial_grad_sat_inner_color: 100%;
  --radial_grad_light_inner_color: 100%;

  --radial_grad_sat_border_color: 100%;
  --radial_grad_light_border_color: 25;

  --radial_grad_sat_shadow_color: 100%;
  --radial_grad_light_shadow_color: 100%;



  --conic_grad_sat_first_color: 100%;
  --conic_grad_light_first_color: 75%;

  --conic_grad_sat_second_color: 100%;
  --conic_grad_light_second_color: 50%;

  --conic_grad_sat_border_color: 100%;
  --conic_grad_light_border_color: 25;

  --conic_grad_sat_shadow_color: 100%;
  --conic_grad_light_shadow_color: 75%;



  --image_sat_color_1: 100%;
  --image_light_color_1: 50%;

  --image_sat_color_2: 100%;
  --image_light_color_2: 75%;

  --image_sat_color_3: 100%;
  --image_light_color_3: 100%;



  --screen_hsl_base_hue: 280;
  --floating_flag_nonstation_hsl_base_hue: 260;
  --floating_flag_station_hsl_base_hue: 240;



  --floating_flag_background_sat_color: 100%;
  --floating_flag_background_light_color: 25%;
  --floating_flag_background_color_transparency: 50%;



  --background_sat_outer_color: 75%;
  --background_light_outer_color: 25%;

  --background_sat_inner_color: 75%;
  --background_light_inner_color: 50%;

}


html, body, #root {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body{

  user-select: none;

  /*For fallback:*/
  background-color: rgb(100, 0, 125);
    
}


* {

  box-sizing: border-box;
  position: relative;

  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;

}


h1, h2, a, button {

  font-family: 'Orbitron', monospace;
  font-family: 'Silkscreen', monospace;
  
}

h1 {

  font-size: calc(var(--root_font_size)*2);

}

h2 {

  font-size: calc(var(--root_font_size)*1.5);

}

a, button {

  font-size: calc(var(--root_font_size)*1.25);

}


p, input {

  font-family: monospace;
  font-size: var(--root_font_size);

}


a:link,
a:visited,
a:hover,
a:active {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;

}




/*Custom tags:*/


/* Full screen layouts:*/

.screenLayout {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10rem;
  padding: 3rem;

}

.floatingFlagLayout{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  inset: 0;

  gap: 3rem;
  padding: 5rem;

}





/* Universal design component structures: */

.linearGradientButtonStructure{

  padding: var(--linear_grad_padding);
  border-radius: var(--linear_grad_border_radius);
  border-style: solid;

  border-left-width: var(--button_left_bottom_border_width);
  border-bottom-width: var(--button_left_bottom_border_width);
  border-right-width: var(--button_right_top_border_width);
  border-top-width: var(--button_right_top_border_width);

  transition: transform 0.3s ease;

}

.linearGradientButtonStructure:hover{

  transform: scale(1.1);

}


.linearGradientButtonPlaceholderStructure{

  padding: var(--linear_grad_padding);
  border-radius: var(--linear_grad_border_radius);
  border-style: solid;

  border-left-width: var(--button_left_bottom_border_width);
  border-bottom-width: var(--button_left_bottom_border_width);
  border-right-width: var(--button_right_top_border_width);
  border-top-width: var(--button_right_top_border_width);

}



.radialGradientButtonStructure{

  height: 12rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

  border-radius: 50%;
  padding: 1.5rem;
  border-style: solid;

  border-left-width: var(--button_left_bottom_border_width);
  border-bottom-width: var(--button_left_bottom_border_width);
  border-right-width: var(--button_right_top_border_width);
  border-top-width: var(--button_right_top_border_width);

  transition: transform 0.3s ease;

  img {

    width: 90%;
    height: 90%;

  }

}


.radialGradientButtonStructure:hover{

  transform: scale(1.1);

}

.radialGradientButtonStructureActive{

  height: 12rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

  border-radius: 50%;
  padding: 1.5rem;
  border-style: solid;

  border-left-width: var(--button_left_bottom_border_width);
  border-bottom-width: var(--button_left_bottom_border_width);
  border-right-width: var(--button_right_top_border_width);
  border-top-width: var(--button_right_top_border_width);

  transition: transform 0.3s ease;

  img {

    width: 90%;
    height: 90%;

  }

}


.conicGradientContainerStructure{

  border-top-width: var(--container_right_top_border_width);
  border-right-width: var(--container_right_top_border_width);
  border-left-width: var(--container_left_bottom_border_width);
  border-bottom-width: var(--container_left_bottom_border_width);
  border-style: solid;

}






/* screen components: */


.navbarContainer {

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  gap: 3rem;

}


.navbarButtonColor{

  color: hsl(calc(var(--screen_hsl_base_hue) + 20) var(--linear_grad_sat_font_color) var(--linear_grad_light_font_color));
  border-color: hsl(calc(var(--screen_hsl_base_hue) + 20) var(--linear_grad_sat_border_color) var(--linear_grad_light_border_color));
  background: linear-gradient(hsl(calc(var(--screen_hsl_base_hue) + 20) var(--linear_grad_sat_top_color) var(--linear_grad_light_top_color)) 0%, hsl(calc(var(--screen_hsl_base_hue) + 20) var(--linear_grad_sat_bottom_color) var(--linear_grad_light_bottom_color)) 100%);
  box-shadow: 0 0 1rem 0.1rem hsl(calc(var(--screen_hsl_base_hue) + 20) var(--linear_grad_sat_shadow_color) var(--linear_grad_light_shadow_color));

}


.navbarButtonColor:hover{

  box-shadow: 0 0 1rem 0.5rem hsl(calc(var(--screen_hsl_base_hue) + 20) var(--linear_grad_sat_shadow_color) var(--linear_grad_light_shadow_color));

}


.navbarButtonColorUrgent{

  color: hsl(calc(var(--screen_hsl_base_hue) + 40) var(--linear_grad_sat_font_color) var(--linear_grad_light_font_color));
  border-color: hsl(calc(var(--screen_hsl_base_hue) + 40) var(--linear_grad_sat_border_color) var(--linear_grad_light_border_color));
  background: linear-gradient(hsl(calc(var(--screen_hsl_base_hue) + 40) var(--linear_grad_sat_top_color) var(--linear_grad_light_top_color)) 0%, hsl(calc(var(--screen_hsl_base_hue) + 40) var(--linear_grad_sat_bottom_color) var(--linear_grad_light_bottom_color)) 100%);
  box-shadow: 0 0 1rem 0.1rem hsl(calc(var(--screen_hsl_base_hue) + 40) var(--linear_grad_sat_shadow_color) var(--linear_grad_light_shadow_color));

}

.navbarButtonColorUrgent:hover{

  box-shadow: 0 0 1rem 0.5rem hsl(calc(var(--screen_hsl_base_hue) + 40) var(--linear_grad_sat_shadow_color) var(--linear_grad_light_shadow_color));

}


.navbarButtonPlaceholderColor{

  color: hsl(calc(var(--screen_hsl_base_hue) + 20) var(--linear_grad_sat_font_color) calc(var(--linear_grad_light_font_color) / var(--button_placeholder_border_font_color_light_ratio)));
  border-color: hsl(calc(var(--screen_hsl_base_hue) + 20) var(--linear_grad_sat_border_color) calc(var(--linear_grad_light_border_color) / var(--button_placeholder_border_font_color_light_ratio)));
  background: linear-gradient(hsl(calc(var(--screen_hsl_base_hue) + 20) var(--linear_grad_sat_top_color) var(--linear_grad_light_top_color) / var(--button_placeholder_background_color_transparency)) 0%, hsl(calc(var(--screen_hsl_base_hue) + 20) var(--linear_grad_sat_bottom_color) var(--linear_grad_light_bottom_color) / var(--button_placeholder_background_color_transparency)) 100%);

}


.screenComponentsContainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3rem;

}


.screenGeneralContainerColor{

  color: rgb(255, 255, 255);
  border-color: hsl(var(--screen_hsl_base_hue) var(--conic_grad_sat_border_color) var(--conic_grad_light_border_color));
  background: conic-gradient(
    hsl(var(--screen_hsl_base_hue) var(--conic_grad_sat_first_color) var(--conic_grad_light_first_color)) 0deg,
    hsl(var(--screen_hsl_base_hue) var(--conic_grad_sat_second_color) var(--conic_grad_light_second_color)) 90deg,
    hsl(var(--screen_hsl_base_hue) var(--conic_grad_sat_first_color) var(--conic_grad_light_first_color)) 180deg,
    hsl(var(--screen_hsl_base_hue) var(--conic_grad_sat_second_color) var(--conic_grad_light_second_color)) 270deg,
    hsl(var(--screen_hsl_base_hue) var(--conic_grad_sat_second_color) var(--conic_grad_light_first_color)) 360deg
  );
  box-shadow: 0 0 1rem 0.1rem hsl(var(--screen_hsl_base_hue) var(--conic_grad_sat_shadow_color) var(--conic_grad_light_shadow_color));

}


.screenOptionButtonColor{

  border-color: hsl(calc(var(--screen_hsl_base_hue) + 10) var(--radial_grad_sat_border_color) var(--radial_grad_light_border_color));
  background: radial-gradient(circle, hsl(calc(var(--screen_hsl_base_hue) + 10) var(--radial_grad_sat_inner_color) var(--radial_grad_light_inner_color)) 0%, hsl(calc(var(--screen_hsl_base_hue) + 10) var(--radial_grad_sat_outer_color) var(--radial_grad_light_outer_color)) 100%);
  box-shadow: 0 0 1rem 0.1rem hsl(calc(var(--screen_hsl_base_hue) + 10) var(--radial_grad_sat_shadow_color) var(--radial_grad_light_shadow_color));

  img {

    filter: drop-shadow(0 0 5px hsl(calc(var(--screen_hsl_base_hue) + 10) var(--image_sat_color_2) var(--image_light_color_2)));

  }

}

.screenOptionButtonColor:hover {

  box-shadow: 0 0 1rem 0.5rem hsl(calc(var(--screen_hsl_base_hue) + 10) var(--radial_grad_sat_shadow_color) var(--radial_grad_light_shadow_color));

}

.screenOptionButtonColorActive{

  border-color: hsl(calc(var(--screen_hsl_base_hue) + 10) var(--radial_grad_sat_border_color) var(--radial_grad_light_border_color));
  background: radial-gradient(circle, hsl(calc(var(--screen_hsl_base_hue) + 10) var(--radial_grad_sat_inner_color) var(--radial_grad_light_inner_color)) 0%, hsl(calc(var(--screen_hsl_base_hue) + 10) var(--radial_grad_sat_outer_color) var(--radial_grad_light_outer_color)) 100%);
  box-shadow: 0 0 1rem 0.5rem hsl(calc(var(--screen_hsl_base_hue) + 10) var(--radial_grad_sat_shadow_color) var(--radial_grad_light_shadow_color));

  img {

    filter: drop-shadow(0 0 5px hsl(calc(var(--screen_hsl_base_hue) + 10) var(--image_sat_color_2) var(--image_light_color_2)));

  }

}


.screenGeneralButtonColor {

  color: hsl(calc(var(--screen_hsl_base_hue) + 10) var(--linear_grad_sat_font_color) var(--linear_grad_light_font_color));
  border-color: hsl(calc(var(--screen_hsl_base_hue) + 10) var(--linear_grad_sat_border_color) var(--linear_grad_light_border_color));
  background: linear-gradient(hsl(calc(var(--screen_hsl_base_hue) + 10) var(--linear_grad_sat_top_color) var(--linear_grad_light_top_color)) 0%, hsl(calc(var(--screen_hsl_base_hue) + 10) var(--linear_grad_sat_bottom_color) var(--linear_grad_light_bottom_color)) 100%);
  box-shadow: 0 0 1rem 0.1rem hsl(calc(var(--screen_hsl_base_hue) + 10) var(--linear_grad_sat_shadow_color) var(--linear_grad_light_shadow_color));

}



.screenGeneralButtonColor:hover{

  box-shadow: 0 0 1rem 0.5rem hsl(calc(var(--screen_hsl_base_hue) + 10) var(--linear_grad_sat_shadow_color) var(--linear_grad_light_shadow_color));

}


.screenGeneralButtonPlaceholderColor{

  color: hsl(calc(var(--screen_hsl_base_hue) + 10) var(--linear_grad_sat_font_color) calc(var(--linear_grad_light_font_color) / var(--button_placeholder_border_font_color_light_ratio)));
  border-color: hsl(calc(var(--screen_hsl_base_hue) + 10) var(--linear_grad_sat_border_color) calc(var(--linear_grad_light_border_color) / var(--button_placeholder_border_font_color_light_ratio)));
  background: linear-gradient(hsl(calc(var(--screen_hsl_base_hue) + 10) var(--linear_grad_sat_top_color) var(--linear_grad_light_top_color) / var(--button_placeholder_background_color_transparency)) 0%, hsl(calc(var(--screen_hsl_base_hue) + 10) var(--linear_grad_sat_bottom_color) var(--linear_grad_light_bottom_color) / var(--button_placeholder_background_color_transparency)) 100%);

}



/*Floating Flag components:*/

.floatingFlagNonstationBackgroundColor{

  background-color: hsl(var(--floating_flag_nonstation_hsl_base_hue) var(--floating_flag_background_sat_color) var(--floating_flag_background_light_color) / var(--floating_flag_background_color_transparency));

}

.floatingFlagStationBackgroundColor{

  background-color: hsl(var(--floating_flag_station_hsl_base_hue) var(--floating_flag_background_sat_color) var(--floating_flag_background_light_color) / var(--floating_flag_background_color_transparency));

}

















/*STOPPED HERE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.floatingFlagContainerColor{

  color: rgb(255, 255, 255);
  border-color: hsl(280 var(--conic_grad_sat_border_color) var(--conic_grad_light_border_color));
  background: conic-gradient(
    hsl(280 var(--conic_grad_sat_first_color) var(--conic_grad_light_first_color)) 0deg,
    hsl(280 var(--conic_grad_sat_second_color) var(--conic_grad_light_second_color)) 90deg,
    hsl(280 var(--conic_grad_sat_first_color) var(--conic_grad_light_first_color)) 180deg,
    hsl(280 var(--conic_grad_sat_second_color) var(--conic_grad_light_second_color)) 270deg,
    hsl(280 var(--conic_grad_sat_second_color) var(--conic_grad_light_first_color)) 360deg
  );
  box-shadow: 0 0 1rem 0.1rem hsl(280 var(--conic_grad_sat_shadow_color) var(--conic_grad_light_shadow_color));

}

.FloatingFlagContainer {

  max-height: 75vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  border-radius: 1rem;
  padding: 5rem;
  gap: 4rem;

  color: rgb(224, 220, 255);
  background-color: rgba(12, 0, 60, 0.667);
  box-shadow: 0 0 1rem 0.5rem rgb(140, 111, 255);

}

.FloatingFlagInfoContainer{

  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 3rem;
  
  box-shadow: 0 0 1rem 0.5rem rgb(255, 203, 255);

}


.FloatingFlagButton{

  padding: 1rem 1.5rem;

  color: black;
  border-left: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  border-right: 0.1rem solid black;
  border-top: 0.1rem solid black;
  background-color: rgb(187, 220, 255);

  animation: GeneralNavButton-glow 4s infinite;

}

.FloatingFlagButton:hover{

  color: white;
  background-color: rgb(0, 102, 255);

  animation: GeneralNavButton-hover-glow  4s infinite;

}


/*General Buttons: */

.GeneralNavButton {

  padding: 1rem 1.5rem;

  color: black;
  border-left: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  border-top: 0.1rem solid black;
  border-right: 0.1rem solid black;
  background-color: rgb(187, 192, 255);

  animation: GeneralNavButton-glow 3s infinite;
  
}

.GeneralNavButton:hover {

  color: white;
  background-color: rgb(0, 31, 133);

  animation: GeneralNavButton-hover-glow 3s infinite;
  
}

.GeneralNavButtonPlaceHolder{

  padding: 1rem 1.5rem;

  color: black;
  border-left: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  border-top: 0.1rem solid black;
  border-right: 0.1rem solid black;
  background-color: rgb(132, 135, 192);

}

.GeneralNavButtonContainer{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  gap: 4rem;

}


/*Signs: */

.header{

  color: white;

}













/*animations: */

@keyframes urgent-glow{

  0% {
    box-shadow: 
      0 0 1rem 0.15rem rgb(187, 192, 255), 
      0 0 2rem 0.3rem rgb(50, 64, 255);
  }
  50% {
    box-shadow: 
      0 0 1rem 0.15rem rgb(187, 192, 255, 0.5),  
      0 0 2rem 0.3rem rgb(50, 64, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 1rem 0.15rem rgb(187, 192, 255), 
      0 0 2rem 0.3rem rgb(50, 64, 255);
  }

}


@keyframes lightPink-glow{

  
  
}







@keyframes GeneralNavButton-glow {
  0% {
    box-shadow: 
      0 0 1rem 0.15rem rgb(187, 192, 255), 
      0 0 2rem 0.3rem rgb(50, 64, 255);
  }
  50% {
    box-shadow: 
      0 0 1rem 0.15rem rgb(187, 192, 255, 0.5),  
      0 0 2rem 0.3rem rgb(50, 64, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 1rem 0.15rem rgb(187, 192, 255), 
      0 0 2rem 0.3rem rgb(50, 64, 255);
  }
}


@keyframes GeneralNavButton-hover-glow {
  0% {
    box-shadow: 
      0 0 1rem 0.15rem rgba(149, 165, 255, 0.75), 
      0 0 2rem 0.3rem rgba(0, 55, 255, 0.75);   
  }
  50% {
    box-shadow: 
      0 0 1rem 0.15rem rgba(149, 165, 255, 0.25),  
      0 0 2rem 0.3rem rgba(0, 55, 255, 0.25);   
  }
  100% {
    box-shadow:
      0 0 1rem 0.15rem rgba(149, 165, 255, 0.75),  
      0 0 2rem 0.3rem rgba(0, 55, 255, 0.75);       
  }
}


@keyframes NavBarButtonUrgent-glow {
  0% {
    box-shadow: 
      0 0 2rem 0.3rem rgb(255, 50, 176), 
      0 0 2rem 0.3rem rgb(132, 50, 255);
  }
  50% {
    box-shadow: 
      0 0 2rem 0.3rem rgb(255, 50, 176, 0.5), 
      0 0 2rem 0.3rem rgb(132, 50, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 2rem 0.3rem rgb(255, 50, 176), 
      0 0 2rem 0.3rem rgb(132, 50, 255);
  }
}

@keyframes NavBarButtonUrgent-hover-glow {
  0% {
    box-shadow: 
      0 0 2rem 0.3rem rgba(198, 76, 151, 0.75), 
      0 0 2rem 0.3rem rgba(139, 98, 201, 0.75);
  }
  50% {
    box-shadow: 
      0 0 2rem 0.3rem rgba(198, 76, 151, 0.25), 
      0 0 2rem 0.3rem rgba(139, 98, 201, 0.25);
  }
  100% {
    box-shadow:
      0 0 2rem 0.3rem rgba(198, 76, 151, 0.75), 
      0 0 2rem 0.3rem rgba(139, 98, 201, 0.75);
  }
}



@keyframes FloatingFlagBox-glow {
  0% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgba(171, 224, 255, 0.75), 
      0 0 1rem 0.5rem rgba(0, 123, 255, 0.75);   
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgba(171, 224, 255, 0.25), 
      0 0 1rem 0.5rem rgba(0, 123, 255, 0.25);     
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.25rem rgba(171, 224, 255, 0.75), 
      0 0 1rem 0.5rem rgba(0, 123, 255, 0.75);     
  }
}



@keyframes FloatingFlagBox-Active-glow {
  0% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgba(255, 149, 253, 0.75), 
      0 0 1rem 0.5rem rgba(165, 40, 255, 0.75);   
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgba(255, 149, 253, 0.25), 
      0 0 1rem 0.5rem rgba(165, 40, 255, 0.25);     
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.25rem rgba(255, 149, 253, 0.75), 
      0 0 1rem 0.5rem rgba(165, 40, 255, 0.75);       
  }
}



@keyframes PetWindowComponent-newpet-glow {
  0% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(249, 128, 255), 
      0 0 1rem 0.5rem rgb(246, 169, 255);     
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(249, 128, 255, 0.5), 
      0 0 1rem 0.5rem rgb(246, 169, 255, 0.5);    
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.25rem rgb(249, 128, 255), 
      0 0 1rem 0.5rem rgb(246, 169, 255);       
  }
}


@keyframes PetWindowComponent-dog-glow {
  0% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(255, 217, 128), 
      0 0 1rem 0.5rem rgb(255, 241, 169);     
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(255, 217, 128, 0.5), 
      0 0 1rem 0.5rem rgb(255, 241, 169, 0.5);   
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.25rem rgb(255, 217, 128), 
      0 0 1rem 0.5rem rgb(255, 241, 169);      
  }
}



@keyframes PetWindowComponent-dog-dim-glow {
  0% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(255, 217, 128, 0.75), 
      0 0 1rem 0.5rem rgb(255, 241, 169, 0.75);     
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(255, 217, 128, 0.25), 
      0 0 1rem 0.5rem rgb(255, 241, 169, 0.25);   
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.25rem rgb(255, 217, 128, 0.75), 
      0 0 1rem 0.5rem rgb(255, 241, 169, 0.75);      
  }
}



@keyframes PetWindowComponent-cat-glow {
  0% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(183, 128, 255), 
      0 0 1rem 0.5rem rgb(222, 181, 255);     
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(183, 128, 255, 0.5), 
      0 0 1rem 0.5rem rgb(222, 181, 255, 0.5); 
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.25rem rgb(183, 128, 255), 
      0 0 1rem 0.5rem rgb(222, 181, 255);       
  }
}



@keyframes PetWindowComponent-cat-dim-glow {
  0% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(183, 128, 255, 0.75), 
      0 0 1rem 0.5rem rgb(222, 181, 255, 0.75);     
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(183, 128, 255, 0.25), 
      0 0 1rem 0.5rem rgb(222, 181, 255, 0.25); 
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.25rem rgb(183, 128, 255, 0.75), 
      0 0 1rem 0.5rem rgb(222, 181, 255, 0.75);       
  }
}




@keyframes PetWindowComponent-fish-glow {
  0% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(117, 170, 255), 
      0 0 1rem 0.5rem rgb(173, 214, 255);     
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(117, 170, 255, 0.5), 
      0 0 1rem 0.5rem rgb(173, 214, 255, 0.5);         
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.25rem rgb(117, 170, 255), 
      0 0 1rem 0.5rem rgb(173, 214, 255);      
  }
}



@keyframes PetWindowComponent-fish-dim-glow {
  0% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(117, 170, 255, 0.75), 
      0 0 1rem 0.5rem rgb(173, 214, 255, 0.75);     
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.25rem rgb(117, 170, 255, 0.25), 
      0 0 1rem 0.5rem rgb(173, 214, 255, 0.25);         
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.25rem rgb(117, 170, 255, 0.75), 
      0 0 1rem 0.5rem rgb(173, 214, 255, 0.75);      
  }
}



@keyframes Input-glow {
  0% {
    box-shadow: 
      0 0 0.5rem 0.2rem rgb(201, 226, 255), 
      0 0 1rem 0.4rem rgb(149, 199, 255);   
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.2rem rgb(201, 226, 255, 0.5), 
      0 0 1rem 0.4rem rgb(149, 199, 255, 0.5);  
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.2rem rgb(201, 226, 255), 
      0 0 1rem 0.4rem rgb(149, 199, 255);             
  }
}







.filler {

  height: 20rem;
  width: 39rem;
  background-color: rgb(198, 212, 253);

}