@import url('https://fonts.googleapis.com/css?family=Silkscreen');



:root {

  /*Color hue, light, and saturation:*/

  --UIStapleElements_-Saturation--GlobalColor: 100%;
  --UIStapleElements_-Hue--GlobalColorBase: 290;

  

  --UIStapleElements_BackgroundBase-Light--GlobalColorBackgroundFirst: 25%;
  --UIStapleElements_BackgroundBase-Light--GlobalColorBackgroundSecond: 0%;

  --UIStapleElements_BackgroundOverlay-Light--GlobalColorBackgroundFirst: 50%;
  --UIStapleElements_BackgroundOverlay-Light--GlobalColorBackgroundSecond: 25%;
  --UIStapleElements_BackgroundOverlay-Light--FloatingFlagColorFont: 25%;
  --UIStapleElements_BackgroundOverlay-Transparency--FloatingFlagColorBackground: 75%;



  --UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundFirst: 50%;
  --UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundSecond: 0%;
  --UIStapleElements_ComponentFrame-Light--GlobalColorFont: 100%;
  --UIStapleElements_ComponentFrame-Light--GlobalColorBorder: 0%;

  --UIStapleElements_ComponentButton-Light--GlobalColorBackgroundFirst: 100%;
  --UIStapleElements_ComponentButton-Light--GlobalColorBackgroundSecond: 50%;
  --UIStapleElements_ComponentButton-Light--GlobalColorFont: 0%;
  --UIStapleElements_ComponentButton-Light--GlobalColorBorder: 50%;
  --UIStapleElements_ComponentButton-Light--GlobalColorShadow: 100%;

}


html {

  font-size: 100%;

}

body{

  user-select: none;

  /*For fallback:*/
  background-color: rgb(100, 0, 125);
  
}


* {

  -webkit-user-drag: none;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;

  flex-shrink: 0;
  
}


h1,
h2,
a,
button,
input{

  font-family: 'Silkscreen', monospace;

}



h1 {

  font-size: calc(1rem*1.60);

      filter: 
      drop-shadow(0 0 10px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)))
      drop-shadow(0 0 5px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)));


}

h2 {

  font-size: calc(1rem*1.40);

      filter: 
      drop-shadow(0 0 10px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)))
      drop-shadow(0 0 5px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)));


}


a,
button,
input,
p {

  font-size: calc(1rem*1.20);

}

a,
button {

  text-align: center;

}


a:link,
a:visited,
a:hover,
a:active {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-decoration: none;

}


input,
p {

  font-family: monospace;

}




/* Scrollbars */

::-webkit-scrollbar {

  width: 1rem; 
  height: auto;

}
 
::-webkit-scrollbar-track {

  background: rgb(255, 255, 255, 0.25);  

}

::-webkit-scrollbar-thumb {

  border-radius: 10000px;

  background-color: rgb(255, 255, 255, 0.75);

}





/*Reusable multitags:*/

/*Backgrounds:*/
 

.UIStapleElements_Background-Template--Screen {

  height: 100vh;
  width: 100%;
  min-width: 64rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 4rem;
  gap: 2rem;

  background:
    url("./images/ScreenOverlay.png"),
    url("./images/BackgroundOverlay.gif"),
    url("./images/BackgroundOverlay.gif"),
    url("./images/AppBackground.png"),
    linear-gradient(to bottom, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_BackgroundBase-Light--GlobalColorBackgroundFirst)) 0%, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_BackgroundBase-Light--GlobalColorBackgroundSecond)) 100%);

  background-size: cover, 25rem auto, 25rem auto, auto, cover;
  background-position: center, left 0% bottom 15%, right 0% bottom 15%, center, center;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat, no-repeat;

}


.UIStapleElements_Background-Template--FloatingFlag {

  width: 100%;
  height: 100vh;
  min-width: 64rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 8;
  inset: 0;

  gap: 2rem;
  padding: 4rem;

  color: hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_BackgroundOverlay-Light--FloatingFlagColorFont));
  background: linear-gradient(to bottom, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_BackgroundOverlay-Light--GlobalColorBackgroundFirst) / var(--UIStapleElements_BackgroundOverlay-Transparency--FloatingFlagColorBackground)) 0%, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_BackgroundOverlay-Light--GlobalColorBackgroundSecond) / var(--UIStapleElements_BackgroundOverlay-Transparency--FloatingFlagColorBackground)) 100%);

}





/*Components:*/

.UIStapleElements_ComponentButton-Structure--GlobalClick {

  border-radius: 10000px;
  border-style: solid;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 1px;
  border-top-width: 1px;

  transition: transform 0.3s ease;

  div{

    height: auto;
    width: auto;

  }

}

.UIStapleElements_ComponentButton-Structure--GlobalClick:hover,
.UIStapleElements_ComponentButton-Structure--GlobalClick.active {

  transform: scale(1.10);

}

.UIStapleElements_ComponentButton-Template--GlobalNonclick {

  border-radius: 10000px;
  border-style: solid;

  border-left-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 1px;
  border-top-width: 1px;

  color: hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorFont));
  border-color: hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBorder));
  background: radial-gradient(ellipse, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundFirst)) 0%, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundSecond)) 100%);

  div {

    width: auto;
    height: auto;

  }

}


.UIStapleElements_ComponentButton-Color--GlobalClick--GlobalNonselected{

  color: hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorFont));
  border-color: hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBorder));
  background: radial-gradient(ellipse, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundFirst)) 0%, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundSecond)) 100%);
  box-shadow: 0 0 20px 10px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow));

  div {

    filter: 
      drop-shadow(0 0 10px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)))
      drop-shadow(0 0 5px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)));

  }

}

.UIStapleElements_ComponentButton-Color--GlobalClick--GlobalNonselected:hover,
.UIStapleElements_ComponentButton-Color--GlobalClick--GlobalNonselected:active{

  box-shadow: 0 0 40px 20px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow));

  div {

    filter: 
      drop-shadow(0 0 20px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)))
      drop-shadow(0 0 10px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)));

  }

}

.UIStapleElements_ComponentButton-Color--GlobalClick--GlobalSelected {

  border-color: hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBorder));
  background: radial-gradient(ellipse, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundFirst)) 0%, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorBackgroundSecond)) 100%);
  box-shadow: 0 0 40px 20px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow));

  div {

    filter: 
      drop-shadow(0 0 20px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)))
      drop-shadow(0 0 10px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)));

  }

}

.UIStapleElements_ComponentButton-Color--GlobalClick--GlobalSelected:hover,
.UIStapleElements_ComponentButton-Color--GlobalClick--GlobalSelected:active{

  box-shadow: 0 0 40px 20px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow));

  div {

    filter: 
      drop-shadow(0 0 20px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)))
      drop-shadow(0 0 10px hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentButton-Light--GlobalColorShadow)));

  }

}

.UIStapleElements_ComponentFrame-Template--Global{

  border-left-width: 10px;
  border-bottom-width: 10px;
  border-right-width: 2px;
  border-top-width: 2px;
  border-style: solid;

  color: hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorFont));
  border-color: hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBorder));
  background: radial-gradient(ellipse, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundFirst)) 0%, hsl(var(--UIStapleElements_-Hue--GlobalColorBase) var(--UIStapleElements_-Saturation--GlobalColor) var(--UIStapleElements_ComponentFrame-Light--GlobalColorBackgroundSecond)) 100%);

}




/*Other cross-component tags:*/


.MiscellaneousElements_ComponentContainer-Structure--GlobalFreeButton{

  width: auto;
  height: auto;

  padding: 2rem 4rem;

}


.MiscellaneousElements_ComponentContainer-Structure--GlobalSlotButton{

  width: 100%;
  height: auto;

  padding: 2rem 4rem;

}




.MiscellaneousElements_ComponentContainer-Structure--GlobalContent {

  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  flex: 0 1 auto;

  gap: 4rem;
  padding: 4rem;

  mask-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0) 5%, rgb(0, 0, 0) 95%, transparent);

}


.MiscellaneousElements_ComponentContainer-Structure--GlobalRow--GlobalSelectionSlotRow {

  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 3rem;

}


.MiscellaneousElements_ComponentContainer-Structure--GlobalButtonRow {

  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;

  gap: 3rem;

}

.MiscellaneousElements_ComponentButton-Template--GlobalWordButton {

  width: auto;
  height: auto;

  padding: 2rem 4rem;

}


.MiscellaneousElements_ComponentContainer-Structure--GlobalSelectionSlot {

  width: 25rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 3rem;
  padding: 3rem;
  border-radius: 25px;

}


.MiscellaneousElements_ComponentText-Template--GlobalSelectionSlotName{

  width: 100%;
  height: auto;
  text-align: center; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  
  padding: 2rem;
  border-radius: 25px;
  gap: 2rem;

  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255);

  margin-top: auto;
  margin-bottom: auto;

  img {

    height: auto;
    width: 70%;

    filter: 
      drop-shadow(0 0 10px rgb(255, 255, 255))
      drop-shadow(0 0 5px rgb(255, 255, 255));

  }

}





.MiscellaneousElements_ComponentContainer-Structure--GlobalWindowFrame {

  height: auto;
  width: auto;

  padding: 4rem;
  border-radius: 25px;

}


.MiscellaneousElements_ComponentContainer-Template--GlobalWindowScreen{

  height: 33rem;
  width: 44rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 25px;

  box-shadow: 0 0 20px 10px rgba(255, 255, 255);

}


.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--dog{ 

    background: 
        url("./images/PetBackgroundLayer.png"),
        url("./images/PetBackgroundLayer.png"),
        url("./images/Dog/RoomBackground.gif");

    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    background-position: center, center, center;

}

.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--cat{

    background: 
        url("./images/PetBackgroundLayer.png"),
        url("./images/PetBackgroundLayer.png"),
        url("./images/Cat/RoomBackground.gif");

    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    background-position: center, center, center;

}

.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--fish{

    background: 
        url("./images/PetBackgroundLayer.png"),
        url("./images/PetBackgroundLayer.png"),
        url("./images/Fish/RoomBackground.gif");

    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, cover;
    background-position: center, center, center;

}


.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--NoPet{

  background: url("./images/BackgroundLayer.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--DefaultPlay{

  background: inherit;

}


.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--Medicine{

  background: 
      url("./images/ActivityBackgroundLayer.png"),
      url("./images/MedicineBackground.png");

  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;

  img {

    height: 40%;
    width: auto;

    filter: 
        drop-shadow(0 0 10px rgb(255, 255, 255))
        drop-shadow(0 0 5px rgb(255, 255, 255));

  }

}

.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--Feed{

  background: 
      url("./images/ActivityBackgroundLayer.png"),
      url("./images/FeedingBackground.png");

  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;

  img {

    height: 40%;
    width: auto;

    filter: 
      drop-shadow(0 0 10px rgb(255, 255, 255))
      drop-shadow(0 0 5px rgb(255, 255, 255));

  }

}

.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--Clean{

  background: 
      url("./images/ActivityBackgroundLayer.png"),
      url("./images/CleaningBackground.png");

  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;

}


.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--StrollPatrol{

    background: 
        url("./images/ActivityBackgroundLayer.png"),
        url("./images/Dog/Play/Games/StrollPatrol/Background.png");

    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;

}


.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--Pawformer{

    background: 
        url("./images/ActivityBackgroundLayer.png"),
        url("./images/Dog/Play/Games/Pawformer/Background.png");

    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;

}


.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--MouseHunt{

    background: 
        url("./images/ActivityBackgroundLayer.png"),
        url("./images/Cat/Play/Games/MouseHunt/Background.png");

    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;

}

.MiscellaneousElements_ComponentContainer-Color--GlobalWindowScreen--FeatherFishing{

    background: 
        url("./images/ActivityBackgroundLayer.png"),
        url("./images/Cat/Play/Games/MouseHunt/Background.png");

    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;

}






.MiscellaneousElements_ComponentContainer-Structure--GlobalImageOverlay {

  position: relative;

}

.MiscellaneousElements_ComponentImage-Structure--GlobalImageOverlayLayer {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-75%);

}



.MiscellaneousElements_ComponentContainer-Structure--FloatingFlagDocument{

  width: 59rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 6rem;
  border-radius: 25px;
  
}


.MiscellaneousElements_ComponentContainer-Structure--FloatingFlagDocumentContent{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5rem;
  gap: 5rem;
  border-radius: 25px;

  box-shadow: 0 0 20px 10px rgba(255, 255, 255);
  
}


.MiscellaneousElements_ComponentImage-Template--FloatingFlagGameTargetArrow {

  height: 25%;
  width: auto;
  position: absolute;

  filter: 
    drop-shadow(0 0 10px rgb(255, 255, 255))
    drop-shadow(0 0 5px rgb(255, 255, 255));

}


.MiscellaneousElements_ComponentImage-Template--FloatingFlagGameTargetArrow--Top {

  top: 10%;

}


.MiscellaneousElements_ComponentImage-Template--FloatingFlagGameTargetArrow--Bottom{

  bottom: 10%;
  transform: scaleY(-1);

}








.MiscellaneousElements_ComponentContainer-Structure--ScreenFixedButtons{

  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  z-index: 6;

  margin: 3rem;
  gap: 3rem;

}


.MiscellaneousElements_ComponentContainer-Structure--ScreenFixedButtons--ScreenToggle{
  
  bottom: 0%;

}


.MiscellaneousElements_ComponentContainer-Structure--ScreenFixedButtons--ScreenMenu {

  top: 0%;

}



.MiscellaneousElements_ComponentContainer-Structure--ScreenFixedFlags {

  max-height: 40vh;
  height: auto;
  width: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  right: 0%;
  z-index: 7;

  gap: 3rem;
  margin: 3rem;
  padding: 3rem;

  mask-image: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 5%, rgb(0, 0, 0) 95%, transparent 100%);
  
}


.MiscellaneousElements_ComponentContainer-Structure--ScreenFixedFlags--Notifications {

  top: 0%;

}


.MiscellaneousElements_ComponentContainer-Structure--ScreenFixedFlags--Alerts {

  bottom: 0%;
  
}


.notificationsFrame {

  width: 37rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 4rem;
  padding: 4rem;
  border-radius: 25px;

}

.notificationsFrameContent {

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 3rem;
  padding: 3rem;
  border-radius: 25px;

  box-shadow: 0 0 20px 10px rgba(255, 255, 255);

}