.AdoptionOuterContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;

}

.AdoptionSelectionContainer {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 3rem;
    padding: 3rem;
    border-radius: 2rem;

}


.AdoptionNameContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 4rem;

}


.AdoptionNameInputBox{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 1.5rem 2rem;
    border-radius: 1rem;

    input {

        border-radius: 3rem;
        padding: 1.5rem 2rem;

        border-left: 0.2rem solid rgb(60, 0, 106); 
        border-bottom: 0.2rem solid rgb(60, 0, 106);
        border-top: 0.1rem solid rgb(60, 0, 106);
        border-right: 0.1rem solid rgb(60, 0, 106);
        background-color: rgb(219, 197, 255); 
        box-shadow: 0 0 1rem 0.1rem rgb(219, 173, 255);

    }

}


.AdoptionNameError {

    height: 1rem;
    
    color: rgb(255, 0, 111);

}