.Adoption_ComponentContainer-Structure--FormBody{

    text-align: center;

}


.Adoption_ComponentContainer-Template--FormBodyNameRow {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 3rem;

}


.Adoption_ComponentContainer-Template--FormBodyNameRowPetImage {

    height: 10rem;
    width: 10rem;

    padding: 1rem;
    border-radius: 25px;

    border: 2px solid rgb(255, 255, 255);

    img {

        height: 100%;

        padding: 1rem;
        
        filter: 
            drop-shadow(0 0 2px rgb(255, 255, 255))
            drop-shadow(0 0 4px rgb(255, 255, 255))
            drop-shadow(0 0 6px  rgb(255, 255, 255));

    }

}

.Adoption_ComponentContainer-Template--FormBodyNameRowName{

    padding: 2rem;
    border-radius: 25px;

    input {

        border-radius: 9999px;
        padding: 2rem;

        border: 1.6px solid rgba(255, 255, 255);
        background-color: rgb(255, 255, 255, 0.75);
        box-shadow: 0 0 16px 1.6px rgb(255, 255, 255);
        
    }

}
 

.Adoption_ComponentContainer-Structure--Confirmation{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;

}


.Adoption_ComponentContainer-Template--ConfirmationError {

    height: 1rem;
    
    color: rgb(255, 0, 111);

}