.Adoption_ComponentContainer-Template--Form {

    width: 50rem;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 6rem;
    border-radius: 25px;

}

.adoptioncontent{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    padding: 4rem;
    gap: 4rem;
    border-radius: 25px;

    box-shadow: 0 0 20px 10px rgba(255, 255, 255);

}


.Adoption_ComponentContainer-Template--FormWords {

    width: 10%;
    height: auto;

}


.Adoption_ComponentContainer-Template--FormContentInput{

    width: 100%;
    height: auto;
    text-align: center;

    border-radius: 10000px;
    padding: 2rem 4rem;
    border: none;

    background-color: rgb(255, 255, 255, 0.75);
    box-shadow: 0 0 20px 10px rgba(255, 255, 255);

}


.adoptionStuff{

    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;

}